@use "../components/utils";
@use "../components/variables";

.timelineBlocks {
  display: flex;
  flex-direction: column;
  margin-top: utils.rem(112);

  @include utils.not-first-child {
    margin-top: utils.rem(60);
  }
}
