@use "components/variables";
@use "components/utils";

.root {
  display: flex;
  justify-content: space-between;
  margin-bottom: utils.rem(69);
  align-items: center;
  font-weight: 300;

  @include utils.not-first-child {
    margin-left: utils.rem(22);
  }
}

.backLink {
  color: black;
  text-decoration: none;

  > span {
    margin-left: utils.rem(22);
  }
}

.line {
  height: 2px;
  flex: 1;
  background: variables.$red;
}

.languages {
  display: flex;

  > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.language {
  text-decoration: none;
  color: black;

  &.isActive {
    color: variables.$red;
  }
}

@include utils.small {
  .root {
    border-bottom: 4px solid variables.$red;
    padding-bottom: utils.rem(13);
    margin-bottom: utils.rem(40);
  }

  .backLink {
    > span {
      margin-left: 0;
    }

    > img {
      display: none;
    }
  }

  .line {
    display: none;
  }
}
