@use "components/variables";
@use "components/utils";

.root {
  display: flex;
  justify-content: space-between;
  margin-bottom: utils.rem(69);
  align-items: center;

  @include utils.not-first-child {
    margin-left: utils.rem(22);
  }
}

.backLink {
  color: black;
  text-decoration: none;

  > span {
    margin-left: utils.rem(22);
  }
}

.line {
  height: 2px;
  flex: 1;
  background: variables.$red;
}

.languages {
  display: flex;

  > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.language {
  text-decoration: none;
  color: black;

  &.isActive {
    color: variables.$red;
  }
}
