@use "components/variables";
@use "components/utils";

.root {
  background: #e5e5e5;
  padding: utils.rem(36);
  display: flex;
  margin-top: utils.rem(100);
  justify-content: center;


}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: utils.rem(300);
  margin: utils.rem(24);
  color: gray;
  text-decoration: none;
  flex: 1;

  > b {
    font-weight: 600;
  }

  > span {
    font-weight: 300;
    margin-top: utils.rem(4);
  }
}

@include utils.small {
  .root {
    flex-direction: column;
    align-items: center;
  }
}
