@use "../../utils";
@use "../../variables";

.root {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "image main";
  grid-gap: 3rem;

  &.imagePosition-RIGHT {
    grid-template-areas: "main image";
  }
}

.image {
  grid-area: image;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleImage {
  flex-basis: 20px;
  position: relative;
}

.date {
  font-size: utils.rem(28);
  color: variables.$red;
  margin-top: utils.rem(16);
  font-weight: 500;
}

.title {
  font-weight: 500;
  font-size: utils.rem(28);
  line-height: 1.35;
  margin-top: utils.rem(16);
}

.body {
  font-size: utils.rem(16);
  line-height: 1.375;
  font-weight: 300;
  margin-top: utils.rem(35);

  p {
    text-indent: 1em;
  }
}

.authorName {
  margin-top: 1em;
  margin-left: 1em;
  font-weight: 400;
  font-style: italic;
}

.authorDetails {
  font-style: italic;
  font-weight: 300;
  margin-left: 1em;
  margin-top: 0.4em;
}
